name: pyoaz
on: 
  push:
    branches: [main]
  pull_request:
jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
  hello:
    runs-on: ubuntu-latest
    container: ghcr.io/ameroueh/oaz-cpu:latest
    steps:
      - run: |
              echo "Hello!"
        name: hello
