ame: hello
on: 
  push:
    branches: [main]
jobs:
  hello:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ameroueh/oaz-cicd-test:latest 
      options: --user 1001
    steps:
      # - uses: actions/checkout@v2
      - run: |
              echo "Shell is $0"
              source /home/oaz/.bashrc && conda activae oaz && echo "Conda env is $CONDA_DEFAULT_ENV"
              echo "Conda prefix is $CONDA_PREFIX"
              echo "UID is $UID"
              echo "EUID is $EUID"
              ls /home/oaz
        name: hello
        shell: bash
